{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ article.title|truncatechars: 10 }}
{% endblock %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="jumbotron jumbotron-fluid">


        <div class="container">
            <h1 class="display-4">{{ article.title }}</h1>
            {% if article.image %}
                <div class="text mt-4">
                    <div class="<row-md-3"><img src="/media/{{ article.image }}" class="img-responsive rounded" height="300"
                                                alt="Article image"></div>
                </div>
            {% endif %}
            <p class="lead" style="white-space:pre-line">
                {{ article.text|linebreaks }}
            </p>
            <p class="card-text mb-3">
                <small class="text-muted">Author: </small>
                <small class="text">{{article.author}}</small>
                <small class="text-muted"> | Publication date:</small>
                <small class="text-">{{article.date }}</small>
            </p>
            <div class="mt-4">
                <form action="{% url 'article_like_url' article.slug %}" method="post">
                    {% csrf_token %}
                    {{ article.likes }}
                    <input class="btn btn-outline-dark btn-sm" name="like" type="submit" value="Like">
                    <input class="btn btn-outline-secondary btn-sm" name="dislike" type="submit" value="Dislike">
                    {{ article.dislikes }}
                </form>
            </div>


            <div class=" mt-4 progress bg-light progress-bar-striped">
                <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ likes_percent }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ dislikes_percent }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>


    </div>

    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <div class="comments">
                <div class="alert alert-secondary">
                    <p class="font-weight-bold"><h3 class="text-center">Comments ({{ comments.count }})</h3>
                </div>

                <form method="post" action="{% url 'comment_url' article.slug%}">
                    {% csrf_token %}
                    <div class="form-group">
                        {#                        <label for="formGroupExampleInput">Add comment</label>#}
                        <input type="text" class="form-control" name="commentText" placeholder="Write your comment">
                        <button type="submit" class="btn btn-secondary small mb-3 mt-1">Add comment</button>
                    </div>

                </form>

                {% for comment in comments %}

                    <div class="card mb-3" style="max-width: 1500px;" >
                        <div class="row no-gutters">
                            <div class="col-md-1">
                                <div class="">
                                    <img src="/media/{{comment.author.profile.photo}}" class=" mt-2 ml-2 img-fluid rounded-circle" width="600" height="800" alt="...">
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    {#                                    <h5 class="card-title">Card title</h5>#}
                                    <p class="card-text">{{ comment.text }}</p>
                                    <p class="card-text">
                                        <small class="text-muted">Author:</small>
                                        {{ comment.author.username }}
                                        <small class="text-muted text-right"> Publication date: {{ comment.date }}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}




                {#                <div id="likes"></div>#}
                {#                <p id="dislikes"></p>#}
                {#                <script>#}
                {#                    var allamount = {{ article.likes }} + {{ article.dislikes}};#}
                {#                    var percentlike = {{ article.likes }} * 100 / allamount;#}
                {#                    var percentdislike = {{ article.dislikes }} * 100 / allamount;#}
                {#                    document.getElementById("likes").innerHTML = percentlike;#}
                {#                    document.getElementById("dislikes").innerHTML = percentdislike;#}
                {#                </script>#}


            </div>
        </div>
    </div>






{% endblock %}