{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <nav aria-label="breadcrumb" class="col-md-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{article.title|truncatewords:3}}</li>
            </ol>
        </nav>
        <div class="container">
            <h1 class="display-4">{{ article.title }}</h1>
            <p class="lead" style="white-space:pre-line">
                {{ article.text|linebreaks }}
            </p>
            <p class="card-text"><small class="text-muted">{{article.author}} {{article.data}}</small></p>
            <form action="{% url 'article_like_url' article.slug %}" method="post">
                {% csrf_token %}
                {{ article.likes }}
                <input class="btn btn-outline-dark btn-sm" name="like" type="submit" value="Like">
                <input class="btn btn-outline-secondary btn-sm" name="dislike" type="submit" value="Dislike">
                {{ article.dislikes }}
            </form>


            <div class=" mt-2 progress bg-light progress-bar-striped progress-bar-animated">
                <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ likes_percent }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ dislikes_percent }}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>


    </div>


    <div class="alert alert-primary" role="alert">
        <p class="font-weight-bold"><h3 class="text-center">Комментарии</h3>
    </div>

    <form method="post" action="{% url 'comment_url' article.slug%}">
        {% csrf_token %}
        <div class="form-group">
            <label for="formGroupExampleInput">Добавьте комментарий</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="commentText" placeholder="Ваш комментарий">
        </div>
        <button type="submit" class="btn btn-success ml-5">Готово</button>
    </form>

    {% for comment in comments %}
        <div class="card border-dark mb-3" style="max-width: 80rem;">
            <div class="card-header">{{ comment.author }}</div>
            <div class="card-body text-dark">
                <p class="card-text">{{ comment.text }}</p>
                <small class="text-muted">{{comment.date}}</small>

            </div>
        </div>
    {% endfor %}




{#    <div id="likes"></div>#}
{#    <p id="dislikes"></p>#}
{#    <script>#}
{#        var allamount = {{ article.likes }} + {{ article.dislikes}};#}
{#        var percentlike = {{ article.likes }} * 100 / allamount;#}
{#        var percentdislike = {{ article.dislikes }} * 100 / allamount;#}
{#        document.getElementById("likes").innerHTML = percentlike;#}
{#        document.getElementById("dislikes").innerHTML = percentdislike;#}
{#    </script>#}
{% endblock %}