{% extends 'base.html' %}

{% block content %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table ">
        <thead class="">
        <tr class="table-secondary small">
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Votes</th>
            <th scope="col">Comments</th>
            <th scope="col">Publication date</th>
        </tr>
        </thead>
        <tbody>
        {% for article, com_num, vote_num in page_object.object_list %}
            <tr>
                <td><a href="{{ article.get_absolute_url }}"
                       class="font-weight-bold">{{ article.title|truncatechars:60 }}</a></td>
                <td>{{ article.author }}</td>
                <td><span class="badge badge-secondary badge-pill">{{ vote_num }}</span></td>
                <td><span class="badge badge-dark badge-pill">{{ com_num }}</span></td>
                <td>{{ article.date }}</td>
            </tr>


        {% endfor %}


        </tbody>
    </table>
    {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination justify-content-center ">
                <li class="page-item {% if not prev_url %} disabled {%endif%}">

                    <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                {% for n in page_object.paginator.page_range %}
                    {% if page_object.number == n %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                        <li class="page-item">
                            <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                        </li>
                    {% endif %}
                {% endfor%}


                <li class="page-item {% if not next_url %} disabled {%endif%} ">
                    <a class="page-link" href="{{next_url}}">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}

