{% extends 'article/base.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr class="table-secondary">
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Votes</th>
            <th scope="col">Comments</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for article, com_num, vote_num in list_of_data %}
            <tr>
                <td><a href="{{ article.get_absolute_url }}">{{article.title}}</a></td>
                <td>{{article.author}}</td>
                <td><span class="badge badge-primary badge-pill">{{vote_num}}</span></td>
                <td><span class="badge badge-primary badge-pill">{{com_num}}</span></td>
                <td>{{ article.data }}</td>
            </tr>


        {% endfor %}



        </tbody>
    </table>
{% endblock %}

