{% extends 'base.html' %}

{% block content %}
        <table class="table ">
            <thead class="">
            <tr class="table-secondary small">
                <th scope="col">Описание</th>
                <th scope="col">Автор</th>
                <th scope="col">Голоса</th>
                <th scope="col">Комментарии</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for article, com_num, vote_num in list_of_data %}
                <tr>
                    <td><a href="{{ article.get_absolute_url }}"
                           class="text-black">{{ article.title|truncatechars:60 }}</a></td>
                    <td>{{ article.author }}</td>
                    <td><span class="badge badge-primary badge-pill">{{ vote_num }}</span></td>
                    <td><span class="badge badge-primary badge-pill">{{ com_num }}</span></td>
                    <td>{{ article.data }}</td>
                </tr>


            {% endfor %}


            </tbody>
        </table>
{% endblock %}

