{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'accounts:login_url' %}" method="post">

        {% csrf_token %}
        <label>
            <input type="text" name="username" placeholder="Username">
        </label><br>
        <label>
            <input type="password" name="password" placeholder="Password">
        </label><br>
        <button type="submit" class="btn btn-primary" name="button">Войти</button>


    </form>
    <div>
        <h3>
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}


        </h3>
    </div>


{% endblock %}