{% extends 'base.html' %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% if page_object.object_list %}
        <div class="d-flex align-items-center justify-content-between mb-3 mt-3 ml-3">
            <h4 class="mb-0">All your articles:</h4>
        </div>
        <table class="table">
            <thead>
            <tr class="table-secondary small">
                <th scope="col">Описание</th>
                <th scope="col">Голоса</th>
                <th scope="col">Комментарии</th>
                <th scope="col">Дата</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for article, com_num, vote_num in page_object.object_list %}
                <tr>
                    <td><a href="{{ article.get_absolute_url }}" class="text-black">{{article.title|truncatechars:60}}</a></td>
                    <td><span class="badge badge-primary badge-pill">{{vote_num}}</span></td>
                    <td><span class="badge badge-primary badge-pill">{{com_num}}</span></td>
                    <td>{{ article.date }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'article_edit_url' article.slug %}" role="button">Edit</a>
                        <a class="btn btn-dark" href="{% url 'article_delete_url' article.slug %}" role="button">Delete</a>
                    </td>
                </tr>


            {% endfor %}



            </tbody>
        </table>
        {% if is_paginated %}
            <nav aria-label="...">
                <ul class="pagination justify-content-center ">
                    <li class="page-item {% if not prev_url %} disabled {%endif%}">

                        <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    {% for n in page_object.paginator.page_range %}
                        {% if page_object.number == n %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

                            <li class="page-item">
                                <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                            </li>
                        {% endif %}
                    {% endfor%}


                    <li class="page-item {% if not next_url %} disabled {%endif%} ">
                        <a class="page-link" href="{{next_url}}">Next</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <div class="d-flex align-items-center justify-content-between mb-3 mt-4 ml-3">
            <h4 class="mb-0">You don't have articles yet :(</h4>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-3 mt-3 ml-3">
            <p>Do you want to <a href="{% url 'create_article' %}"> create an article</a>?</p>
        </div>

    {% endif %}

{% endblock %}

