{% extends 'base.html' %}

{% block title %}
    My profile
{% endblock %}

{% block content %}

    <div class="row py-3 px-10">
        <div class="col-md-11 mx-auto">
            <!-- Profile widget -->
            <div class="px-5 pt-0 pb-0 cover">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3">
                        <img src="/media/{{ user.profile.photo }}" alt="..." width="250" class="rounded mb-2 img-thumbnail">
                        <a href="{% url 'accounts:edit_profile' %}" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                        <a href="{% url 'accounts:change_password_profile' %}" class="btn btn-outline-dark btn-sm btn-block">Change password</a>
                    </div>
                    <div class="media-body mb-5 text-black">

                        <h3 class="mt-0 mb-0">{{ user.get_full_name }}</h3>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{ user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="py-4 ml-5 mt-4">



                {% if list_of_data %}
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Recent articles</h5><a href="{% url 'accounts:profile_all_articles' %}" class="btn btn-link text-muted">Show all</a>
                    </div>
                    <table class="table">
                        <thead>
                        <tr class="table-secondary">
                            <th scope="col">Description</th>
                            <th scope="col">Votes</th>
                            <th scope="col">Comments</th>
                            <th scope="col">Publication date</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article, com_num, vote_num in list_of_data %}
                            <tr>
                                <td><a href="{{ article.get_absolute_url }}"
                                       class="text-black">{{ article.title|truncatechars:60 }}</a></td>
                                <td><span class="badge badge-primary badge-pill">{{ vote_num }}</span></td>
                                <td><span class="badge badge-primary badge-pill">{{ com_num }}</span></td>
                                <td>{{ article.data }}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'article_edit_url' article.slug %}"
                                       role="button">Edit</a>
                                    <a class="btn btn-dark" href="{% url 'article_delete_url' article.slug %}"
                                       role="button">Delete</a>
                                </td>

                            </tr>


                        {% endfor %}


                        </tbody>
                    </table>
                {% else %}

                    <div class="d-flex align-items-center justify-content-between mb-3 mt-3 ml-3">
                        <p>Do you want to <a href="{% url 'create_article' %}"> create an article</a>?</p>
                    </div>
                {% endif %}


            </div>
            {#        </div>#}
        </div>
    </div>


{% endblock %}